<!doctype html>
<html lang="en" ng-app="ShoppingListCheckOff">
  <head>
    <title>Shopping List Check Off</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller="ToBuyController as buy">
    <input ng-model="buy.itemName" placeholder="Name"></input>
    <input ng-model="buy.itemQuantity" placeholder="Quantity"></input>
    <button ng-click="buy.add()"> Add a new item </button>
     <h2>To Buy:</h2>
     <ul>
       <li ng-repeat="items in buy.items">
         Buy {{items.quantity}}   {{items.name}}
         <button ng-click="buy.moveToBought($index)">
          Bought</button>
          <button ng-click="buy.removeItem($index)" >
           Remove</button>
      </li>
     </ul>
     <div class="emptyMessage" ng-show="buy.showMessage()">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller="AlreadyBoughtController as bought">
     <h2>Already Bought:</h2>
     <ul>
       <li ng-repeat="items in bought.items">Bought {{items.quantity}}   {{items.name}}
       <button  ng-click="bought.undo($index)">Unbuy</button></li>
     </ul>
     <div class="emptyMessage" ng-show="bought.showMessage()">Nothing bought yet.</div>
    </div>
  </div>
</div>

</body>
</html>
